@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root {
  color: #EAEDFF;
  background: #1E1E1E;
}

colorstry {
  color: #39419e44
}
